.box {
  height: 80px;
  width: 80px;
  background-color: #333;
  margin-top: 5px;
  margin-right: 5px;
  border: solid;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: sans-serif;
  animation: bounce 2.8s infinite ease-in-out;
}
.box:hover {
  background-color: #b3a52b;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.row {
  display: flex;
  margin-right: 20px;
  justify-content: center;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}


.box1 {
  animation-delay: 0s;
}
.box2 {
  animation-delay: 0.2s;
}
.box3 {
  animation-delay: 0.4s;
}

/* row2 */
.box4 {
  animation-delay: 0s;
}
.box5 {
  animation-delay: 0.2s;
}
.box6 {
  animation-delay: 0.4s;
}

/*  */
.box7 {
  animation-delay: 0s;
}
.box8 {
  animation-delay: 0.2s;
}
.box9 {
  animation-delay: 0.4s;
} 